{% extends 'ingressos/base.html' %}

{% block title %}
Criar conta | Ingressos Náutico
{% endblock %}


{% block content %}

<section class="pagina-autenticacao">

    <div class="card-autenticacao">

        <p class="hero-destaque">NOVA CONTA</p>

        <h2>Criar conta</h2>

        <p class="texto-autenticacao">
            Cadastre-se para comprar e acompanhar seus ingressos.
        </p>


        <form method="POST" class="form-autenticacao">

            {% csrf_token %}


            <div class="campo-formulario">

                <label for="{{ form.username.id_for_label }}">
                    Usuário
                </label>

                {{ form.username }}

                {% if form.username.errors %}
                    <div class="erro-campo">
                        {{ form.username.errors }}
                    </div>
                {% endif %}

            </div>


            <div class="campo-formulario">

                <label for="{{ form.password1.id_for_label }}">
                    Senha
                </label>

                {{ form.password1 }}

                {% if form.password1.errors %}
                    <div class="erro-campo">
                        {{ form.password1.errors }}
                    </div>
                {% endif %}

            </div>


            <div class="campo-formulario">

                <label for="{{ form.password2.id_for_label }}">
                    Confirmar senha
                </label>

                {{ form.password2 }}

                {% if form.password2.errors %}
                    <div class="erro-campo">
                        {{ form.password2.errors }}
                    </div>
                {% endif %}

            </div>


            <button
                type="submit"
                class="botao-principal botao-autenticacao"
            >
                Criar conta
            </button>

        </form>


        <div class="rodape-autenticacao">

            <p>Já possui uma conta?</p>

            <a href="{% url 'login' %}">
                Entrar
            </a>

        </div>

    </div>

</section>

{% endblock %}