{% extends 'ingressos/base.html' %}

{% block title %}
Escolha seu setor | Ingressos Náutico
{% endblock %}


{% block content %}

<section class="pagina-setores">

    <div class="titulo-pagina">

        <p class="hero-destaque">INGRESSOS</p>

        <h2>Náutico x {{ jogo.adversario }}</h2>

        <p>
            {{ jogo.data|date:"d/m/Y" }} às
            {{ jogo.horario|time:"H:i" }}
            • {{ jogo.estadio }}
        </p>

    </div>


    <h3 class="titulo-setores">Escolha seu setor</h3>


    <div class="lista-setores">

        {% for setor in setores %}

            <div class="card-setor">

                <div class="card-setor-conteudo">

                    <h3>{{ setor.nome }}</h3>

                    <p class="preco-setor">
                        R$ {{ setor.preco }}
                    </p>

                    <p class="disponibilidade">
                        {{ setor.quantidade }} ingressos disponíveis
                    </p>

                    <a
                        href="{% url 'selecionar_setor' setor.id %}"
                        class="botao-principal"
                    >
                        Selecionar
                    </a>

                </div>

            </div>

        {% empty %}

            <div class="sem-jogos">

                <h3>Nenhum setor disponível</h3>

                <p>
                    Ainda não existem setores cadastrados
                    para esta partida.
                </p>

            </div>

        {% endfor %}

    </div>

</section>

{% endblock %}