{% extends 'ingressos/base.html' %}
{% load static %}

{% block title %}
Não foi possível continuar | Ingressos Náutico
{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'ingressos/css/extras.css' %}">
{% endblock %}


{% block content %}

<section class="pagina-erro">

    <div class="card-erro">

        <p class="icone-erro">!</p>

        <h2>Não foi possível continuar</h2>

        <p class="mensagem-erro">{{ mensagem }}</p>

        <a href="{% url 'jogos' %}" class="botao-principal">
            Ver outros jogos
        </a>

    </div>

</section>

{% endblock %}