<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Próximos Jogos</title>
</head>

<body>

    <h1>Próximos Jogos</h1>

    <p>Escolha uma partida para comprar seu ingresso.</p>

    {% for jogo in jogos %}

        <h2>Náutico x {{ jogo.adversario }}</h2>

        <p>Data: {{ jogo.data|date:"d/m/Y" }}</p>

        <p>Horário: {{ jogo.horario|time:"H:i" }}</p>

        <p>Local: {{ jogo.estadio }}</p>

       <a href="{% url 'comprar' jogo.id %}">
           <button>Comprar ingresso</button>
       </a> 

        <hr>

    {% empty %}

        <p>Nenhum jogo disponível no momento.</p>

    {% endfor %}

</body>

</html>