{% extends 'ingressos/base.html' %}

{% block title %}
Entrar | Ingressos Náutico
{% endblock %}


{% block content %}

<section class="pagina-autenticacao">

    <div class="card-autenticacao">

        <p class="hero-destaque">MINHA CONTA</p>

        <h2>Entrar</h2>

        <p class="texto-autenticacao">
            Acesse sua conta para comprar e acompanhar seus ingressos.
        </p>


        {% if erro %}

            <div class="mensagem-erro">
                {{ erro }}
            </div>

        {% endif %}


        <form method="POST" class="form-autenticacao">

            {% csrf_token %}

            <input
                type="hidden"
                name="next"
                value="{{ request.GET.next }}"
            >


            <div class="campo-formulario">

                <label for="username">
                    Usuário
                </label>

                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Digite seu usuário"
                    required
                >

            </div>


            <div class="campo-formulario">

                <label for="password">
                    Senha
                </label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Digite sua senha"
                    required
                >

            </div>


            <button
                type="submit"
                class="botao-principal botao-autenticacao"
            >
                Entrar
            </button>

        </form>


        <div class="rodape-autenticacao">

            <p>
                Ainda não possui uma conta?
            </p>

            <a href="{% url 'cadastro' %}">
                Criar conta
            </a>

        </div>

    </div>

</section>

{% endblock %}