{% extends 'ingressos/base.html' %}

{% block title %}
Resumo do pedido | Ingressos Náutico
{% endblock %}


{% block content %}

<section class="pagina-resumo">

    <div class="titulo-pagina">
        <p class="hero-destaque">QUASE LÁ</p>
        <h2>Resumo do pedido</h2>
        <p>Confira as informações antes de finalizar sua compra.</p>
    </div>


    <div class="card-resumo">

        <div class="resumo-jogo">

            <p class="label-compra">PARTIDA</p>

            <h3>{{ setor.jogo }}</h3>

        </div>


        <div class="resumo-informacoes">

            <div class="resumo-item">
                <span>Setor</span>
                <strong>{{ setor.nome }}</strong>
            </div>


            <div class="resumo-item">
                <span>Preço unitário</span>
                <strong>R$ {{ setor.preco }}</strong>
            </div>


            <div class="resumo-item">
                <span>Quantidade</span>
                <strong>{{ quantidade }}</strong>
            </div>

        </div>


        <div class="resumo-total">

            <span>Total</span>

            <strong>
                R$ {{ total }}
            </strong>

        </div>


        <form
    action="{% url 'pagamento' setor.id %}"
    method="POST"
>

    {% csrf_token %}

    <input
        type="hidden"
        name="quantidade"
        value="{{ quantidade }}"
    >

    <button
        type="submit"
        class="botao-principal botao-finalizar"
    >
        Continuar para pagamento
    </button>

</form>

    </div>

</section>

{% endblock %}